[Unit]
Description=SAP Log Forwarder & Wazuh Monitor
After=network.target

[Service]
Type=simple
User=admin1
WorkingDirectory=/home/admin1
ExecStart=/usr/bin/python3 /home/admin1/log_forwarder_benchmark.py --config /home/admin1/config.yaml
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
